<!-- templates/posts/group_list.html -->
{% extends 'base.html' %}

{% block title %}
  Самое интересное в группе {{ group }}
{% endblock %}

{% block content %}
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">
    <h1>{{ group }}</h1>
    <p>
      {{ group.description }}
    </p>
    {% for post in page_obj %}
      <article>
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>      
        <p>
          {{ post.text}}
        </p>
        <a href="{% url 'posts:profile' post.author.username %}">
          все записи автора
        </a>         
        {% if not forloop.last %}<hr>{% endif %}
      </article>
    {% endfor %}
    <!-- под последним постом нет линии -->
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}