{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
  Профайл пользователя {{ author.get_full_name }}
{% endblock %}

{% block content %}
  <div class="container py-5">     
    <div class="mb-5">
      <h1>Все посты пользователя {{ author.get_full_name }}</h1>
      <h3>Всего постов: {{ count }}</h3>
      {% include 'posts/includes/subscribe.html' %}
    </div>
    <article>
      {% for post in page_obj %}
        <ul>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
          {% if post.group %}
          <li>
            Группа: {{ post.group }}<br>
          </li>  
          {% endif %}
        </ul>      
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        <p>
          {{ post.text|truncatewords:20 }}
        </p>
        <a href="{% url 'posts:post_detail' post.pk %}">
          подробная информация
        </a><br>
        {% if post.group %}
        <a href="{% url 'posts:group_posts' post.group.slug %}">
          все записи группы
        </a>
        {% endif %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    </article>
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}   
